.container {
    display: flex;
}

img {
    width: 50vw;
    display: block;
    height: 110vh;
}

.top {
    position: absolute;
    display: flex;
    top: 4vh;
    left: 2vw;
    gap: 40px;
    color: white;
    align-items: center;
}

.top p {
    font-size: larger;
    font-weight: 600;
}

.top button {
    padding: 12px 32px;
    background: #72DB73;
    border-radius: 33px;
    color: white;
    box-shadow: none;
    border: none;
}

.bottom {
    position: absolute;
    bottom: 3vh;
    left: 2vw;
    color: white;
    font-size: 55px;
    font-weight: 900;
    max-width: 50vw;
}

.body {
    background: #1e1e1e;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body .super {
    color: #72db73;
    font-size: 3rem;
    margin-bottom: 15px;
}

.super {
    font-family: "Single Day", cursive;
}

form input {
    margin: 12px auto;
    padding: 10px;
    width: 90%;
    max-width: 400px;
    background-color: #292929;
    border-radius: 6px;
    color: white;
    outline: none;
    transition: border 0.3s;
    outline: none;

}

form input:focus {
    border-color: #72db73;
}

form .error {
    color: red;
    font-size: 14px;
    width: 90%;
    max-width: 400px;
    margin: -10px auto 8px;
    text-align: left;
    margin-top: 2px;
}

form label {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    width: 90%;
    max-width: 400px;
    margin: 12px auto;
    text-align: left;
}

form label input[type="checkbox"] {
    margin: 0;
    width: 24px;
    height: 24px;
}

form button {
    width: 90%;
    max-width: 400px;
    margin: 24px auto;
    border-radius: 24px;
    padding: 10px 12px;
    color: white;
    background-color: #72db73;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #5cb85c;
}

.footer p {
    font-size: 14px;
    color: #7c7c7c;
    width: 90%;
    max-width: 400px;
    margin: 8px auto;
    text-align: left;
    line-height: 1.2rem;
}

.footer span {
    color: #72db73;
    cursor: pointer;
}

@media (max-width: 768px) {
    .body {
        padding: 2vw;
    }
}